/* YLÄPALKKI */

body {
    margin: 0;
    background: rgb(114,114,115);
    background: linear-gradient(90deg, rgba(114,114,115,1) 0%, rgba(217,217,217,1) 54%, rgba(154,216,251,1) 100%);
    font-family: Calibri, sans-serif;
}

.container {
    float: left;
    display: flex;
    padding-left: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 0;
}

h1 {
    padding-left: left;
    margin-top: center;
    font-size: 45px;
    text-align: left;
    border: none;
    padding: 8px 25px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1.25rem;
    font-family: 'Afacad';
    color: white;
    background-color: #0059a2;
    box-shadow: 10px 5px 5px black;
}

header {
    background-image: url("rajamäki_banner.jpg");
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: center;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8%;
}

nav ul {
    float: center;
    position: relative;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    font-family: 'Afacad';
    margin-left: 150px;
    margin-right: 350px;
    margin-bottom: 50px;
}

nav li {
    display: block;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 0px;
    padding-left:
    position: relative;
    justify-content: center;
}

nav a {
    display: block;
    border: none;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px 25px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: #0059a2;
    box-shadow: 10px 5px 5px black;
}

/* SIVUN PÄÄOSA */

article {
    padding-top: 20px;
}

main {
    padding-left: 180px;
    padding-right: 180px;
}

h2 {
    display: flex;
    flex-direction: text;
    text-align: center;
    padding: 8px 25px;
    font-family: 'Afacad';
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    border-radius: 1.25rem;
    background-color: #0059a2;
    box-shadow: 10px 5px 5px black;
}

h3 {
    display: block;
    padding-top: 140px;
    text-align: center;
    font-family: 'Afacad';
    font-size: 40px;
}

h4 {
    display: block;
    padding-top: 0px;
    text-align: left;
    font-family: 'Afacad';
    font-size: 38px;
}

h5 {
    display: block;
    padding-top: 0px;
    text-align: left;
    font-family: 'Poppins';
    font-size: 20px;
}


p {
    text-align: left;
    font-family: Poppins;
    font-size: 20px;
}

li {
    text-align: left;
    font-family: Poppins;
    font-size: 20px;
}

ins {
    display: block;
    float: left;
    margin-right: auto;
    text-align: left;
    font-family: Poppins;
    font-size: 20px;
    text-decoration: none;
}

article ul {
    display: block;
    float: left;
    text-align: left;
    font-family: Poppins;
    font-size: 23px;
    text-decoration: none;
    margin-right: 350px;
    margin-top: 10px;
}

.rajamäki_kartalla {
    display: solid;
    align-items: center;
}

aside {
    padding-top: 20px;
}

.div_class article {
    padding-bottom: 20px;
}

/* KUVIA RAJAMÄESTÄ */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
  
.column {
    flex: 33%;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
}

figure {
    margin-left: 150px;
    margin-top: -50px;
    margin-bottom: 70px;
}

figure ul {
    float: right;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    font-family: 'Afacad';
}

figure li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 0px;
    margin-left: -170px;
    padding-right: 80px;
    position: relative;
    justify-content: center;
}

figure a {
    display: flex;
    border: none;
    padding: 8px 25px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: #0059a2;
    box-shadow: 10px 5px 5px black;
}

div {
    margin-bottom: 60px;
}

div ul {
    float: left;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    font-family: 'Afacad';
}

div li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 80px;
    position: relative;
    justify-content: center;
}

div a {
    display: flex;
    border: none;
    padding: 8px 25px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: #0059a2;
    box-shadow: 10px 5px 5px black;
}

/* FOOTER-TAGI */

footer {
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h6 {
    color: white;
    align: center;
    font-size: 1px;
}